<div id="<%= dom_id board %>">
  <p>
    Board #<%= board.id %> - <strong><%= board.name %></strong>
  </p>

  <p>
    <strong>Created by </strong>
    <%= board.email %>
    <%= time_ago_in_words(board.created_at) %> ago
  </p>

   <p>
    <% @mine_map.each do |row| %>
        <% row.each do |value| %>
            <%== value>0 ? "&#128163;" : "&#11036;" %>
        <% end %>
        <br>
   <% end %>

</div>
