<div id="<%= dom_id board %>">
  <p>
    <strong>Id:</strong>
    <%= board.id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= board.created_at %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= board.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= board.height %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= board.width %>
  </p>

  <p>
    <strong>Mine count:</strong>
    <%= board.mine_count %>
  </p>

  <p>
    <strong>Mine data:</strong>
    <%= board.mine_data %>
  </p>

</div>
