<p style="color: green"><%= notice %></p>

<h1>Minesweeper Boards</h1>

<div id="boards">
  <% @boards.each do |board| %>
    <p><%= link_to board.name, board %> - created by <%= board.email %>, <%= time_ago_in_words(board.created_at) %>
    </p>
  <% end %>
</div>

<h1>Create a New Board</h1>
<%= render "form", board: @board %>


